.texto {
  text-align: center;
  margin-top: 100px;
}

.botao {
  margin: 20px;
}
.centralize {
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.botoes {
  margin: 5px;
}
.centerr {
  text-align: center;
  margin-top: 20px;
}
