.centro {
  text-align: center;
}
.curve {
  color: white;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  background-image: url("https://media1.giphy.com/media/26tPoxVWgkyludstO/giphy.gif?cid=ecf05e47ddhtwtoqpt450f1w1atol647b7yywymm8x4x0rfj&rid=giphy.gif&ct=g");
}
.curve2 {
  border-radius: 20px;
}

.color {
  font-size: 20px;
}
