.centro {
  text-align: center;
}
.curve {
  color: white;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 330px;
  background-color: black;
}
.curve2 {
  border-radius: 20px;
}

.color {
  font-size: 20px;
}
